:root {
    --primary-color: #a25ddc; /* Purple */
    --secondary-color: #ff6ec7; /* Pink */
    --background-color: #fefaff;
    --text-color: #333;
    --white: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

main section a{
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

main h1 {
    text-align: center;
    margin-bottom: 2rem;
}

h1, h2 {
    color: var(--primary-color);
}

.matches {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.match-card {
    background-color: var(--white);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.match-card:hover {
    transform: scale(1.05);
}

.match-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: var(--primary-color);
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--white);
    position: relative;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.stat-box {
    background-color: var(--white);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-box h3 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--secondary-color);
}

.stat-box p {
    margin: 0;
    font-size: 1rem;
}
